airflow/.env
airflow/config/airflow.cfg
airflow/logs/
airflow/config/
env-retailitics/
retail_data/
terraform/.terraform./
terraform/*terraform*
requirements.txt
terraform-demo/
.env
retailitics_dbt/*.yml
retailitics_dbt/*.txt
retailitics_dbt/*.duckdb
retailitics_dbt/target/
retailitics_dbt/logs/
*.duckdb
streaming/
tmp/
terraform/*/*.pem
terraform/.ssh/